/* src/styles/index.css */
@font-face {
    font-family: 'Bebas Neue';
    src: url('/home/vare/project/landings_1/portfolio/portfolio/src/assets/fonts/BebasNeue-Regular.ttf') format('truetype');
    /* Adjust the path accordingly */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('/home/vare/project/landings_1/portfolio/portfolio/src/assets/fonts/BebasNeue-Regular.ttf') format('truetype');
    /* Adjust the path accordingly */
    font-weight: bold;
    font-style: normal;
}

/* Example usage */
body {
    font-family: 'Bebas Neue', sans-serif;
    /* Use the font in your styles */
}